<div class="container">
  <div class="main">
    <div class="top-image">
      <%= image_tag 'main1.jpg', class: "main-image" %>
      <p>誰でも簡単に<span>出品</span>・<span>購入</span>できる</p>
    </div>
    <div class="main-image-link">
        <div class="buy">
          <a class="" href="/">出品</a>
        </div>
        <div class="sell">
          <a class="" href="">購入</a>
        </div>
    </div>
    <div class="sub-image-link">
      <h1 class="title"><span>身の回りの多くの商品を出品できる</span></h1>
      <div class="item-info"></div>
        <%= image_tag 'camera.png', class: "center-image" %>
        <%= image_tag 'audio.png', class: "center-image" %>
        <%= image_tag 'stapler.png', class: "center-image" %>
        <%= image_tag 'suts.png', class: "center-image" %>
        
      </div>
    </div>
  </div>
</div>
