<a class="home" href="/">Shopping</a>
<div class="container">
  <div class="details">
    <div class="left-view">
      <div class="details-title"><%= @item.buy  %></div>
        <div class="item-img">
          <%= image_tag @item.image, class: "details-image" %>
          <% if @item.order != nil %>
        <div class='sold-out-show'>
          <%= image_tag "sold_out.jpg", class: "sold-out-image-show" %>
        </div>
        <% end %>
        </div>
        
        <p>撮影地</p>
      <p><%= @item.address_map %></p>

      <div id="map"></div>
      </div>


<style>
#map{
  height: 150px;
  width:270px;
}
</style>

<script type="text/javascript">
    function initMap() {

        var test ={lat: <%= @item.latitude %>, lng: <%= @item.longitude %>};
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 15,
            center: test
        });
        var transitLayer = new google.maps.TransitLayer();
        transitLayer.setMap(map);

        var contentString = '住所：<%= @item.address_map %>';
        var infowindow = new google.maps.InfoWindow({
            content: contentString
        });

        var marker = new google.maps.Marker({
            position:test,
            map: map,
            title: contentString
        });

        marker.addListener('click', function() {
            infowindow.open(map, marker);
        });
    }
    
</script>

<script async defer
        src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap">
</script>
    <div class="right-view">
      <div class="details-lists">
        <ul class="details-list">
          <li class="details-item">出品者:&emsp;<%= @item.user.nickname %></li>
          <%# <li class="details-item">カテゴリー:&emsp;<%= @item.category.name %></li>
          <li class="details-item">商品状態:&emsp;<%= @item.status.name %></li>
          <li class="details-item">発送業者:&emsp;<%= @item.trader_name.name %></li>
          <li class="details-item">発送料金:&emsp;<%= @item.delivery_fee.name %></li>
          <li class="details-item">発送元:&emsp;<%= @item.prefectures.name %></li>
          <li class="details-item">発送日数:&emsp;<%= @item.shipping_days.name %></li>
          <li class="details-item">Cap:&emsp;<%= @item.cap %></li>
          <li class="details-item">Tops:&emsp;<%= @item.tops %></li>
          <li class="details-item">Botoms:&emsp;<%= @item.botoms %></li>
          <li class="details-item">Shoes:&emsp;<%= @item.shoes %></li>
          <li class="details-item">Accessories:&emsp;<%= @item.accessories %></li>
        </ul>
      </div>
      <div class="details-price">
        <span class="price">価格&emsp;<span class="price-color"><%= @item.price %></span>円<br>(税込み)</span>
      </div>
    </div>
  </div>
  <% if user_signed_in? && current_user.id != @item.user_id %>
    <div class="purchase"><%= link_to '購入画面に進む', new_item_order_path(@item.id), class:"purchase-btn"%></div>
  <% end %>

  <div class="details-info">
    <h1 class="details-info-title">-商品説明-</h1>
    <div class="info"><%=safe_join(@item.info.split("\n"),tag(:br))%></div>
      <div class="coment-form">
        <h2 class="comment-title">ーコメントー</h2>
        <% if current_user %>
          <%= form_with(model: [@item, @comment], local: true) do |form| %>
            <%= form.text_area :text, placeholder: "コメントする", rows: "2", class: "comment-text" %>
            <%= form.submit"送信", class: "comment-btn", href: "aaa" %>
          <% end %>
        <% else %>
          <p class="non-user">※新規登録またはログインをしてください</p>
        <% end %>
      </div>
      <div class="comments-rist">
      <h2>コメント一覧</h2>
      <% if @comments %>
        <% @comments.each do |comment| %>
          <div class="comment-pic">
            <div class="comment-pic-name">
              ・<%= comment.user.nickname %>:
            </div>
            <div class="comment-pic-text">
              <%=safe_join(comment.text.split("\n"),tag(:br)) %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
  </div>
</div>
