<a class="home" href="/">Shopping</a>
<div class="container">
  <div class="details">
    <div class="left-view">
      <div class="details-title"><%= @item.name  %></div>
      <%= image_tag @item.image, class: "details-image" %>
    </div>
    <div class="right-view">
      <div class="details-lists">
        <ul class="details-list">
          <li class="details-item">出品者:&emsp;<%= @item.user.nickname %></li>
          <li class="details-item">カテゴリー:&emsp;<%= @item.category.name %></li>
          <li class="details-item">商品状態:&emsp;<%= @item.status.name %></li>
          <li class="details-item">発送日数:&emsp;<%= @item.delivery_fee.name %></li>
          <li class="details-item">発送元:&emsp;<%= @item.prefectures.name %></li>
          <li class="details-item">発送日数:&emsp;<%= @item.shipping_days.name %></li>
          <li class="details-item">発送業者:&emsp;<%= @item.trader_name.name %></li>
        </ul>
      </div>
      <div class="details-price">
        <span class="price">価格&emsp;<span class="price-color"><%= @item.price %></span>円<br>(税込み)</span>
      </div>
    </div>
  </div>

  <div class="purchase"><%= link_to '購入画面に進む', "#", class:"purchase-btn"%></div>

  <div class="details-info">
    <h1 class="details-info-title">-商品説明-</h1>
    <div class="info"><%=safe_join(@item.info.split("\n"),tag(:br))%></div>
      <div class="coment-form">
        <h2 class="comment-title">ーコメントー</h2>
        <% if current_user %>
          <%= form_with(model: [@item, @comment], local: true) do |form| %>
            <%= form.text_area :text, placeholder: "コメントする", rows: "2", class: "comment-text" %>
            <%= form.submit"送信", class: "comment-btn", href: "aaa" %>
          <% end %>
        <% else %>
          <p class="non-user">※　新規登録またはログインをしてください</p>
        <% end %>
      </div>
      <div class="comments-rist">
      <h2>コメント一覧</h2>
      <% if @comments %>
        <% @comments.each do |comment| %>
          <div class="comment-pic">
            <div class="comment-pic-name">
              ・<%= comment.user.nickname %>:
            </div>
            <div class="comment-pic-text">
              <%=safe_join(comment.text.split("\n"),tag(:br)) %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
  </div>
</div>