<!DOCTYPE html>
<html>
  <head>
    <title>OriginalApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="header">
      <div class="header-block">
        <div class="header-logo"><a href="/">Shopping</a></div>
        <ul class="header-btn">
          <li class="list"><%= link_to "新規登録", "#" %></li>
          <li class="list"><%= link_to "ログイン", "#" %></li>
          <li class="list"><%= link_to "ログアウト", "#" %></li>
        </ul>
      </div>
    </header>
    <%= yield %>
  </body>
</html>
